body {
    margin: 0px;
    padding: 20px;
    padding-top: 10px;
    background-color: #f3f3f4;
}
.wrapper {
    padding: 20px;
    padding-top: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px -2px #80808061;
    display: flex;
}
.carousel-container {
    width: 40%;
    padding: 20px;
    display: flex;
}
.product-detail-container {
    width: 60%;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}
.header {

}
.header .main {
    color: #6b6e70;
    font-size: 24px;
    font-weight: bold;
    margin: 12px 0px 0px;
}
.header .sub {
    margin: 6px 0px 0px;
    color: #999b9c;
}
.header .price {
    color: #999b9c;
    font-size: 32px;
    margin-bottom: 22px;
}
.header .price span {
    font-size: 15px;
}
.descriptions {
    border-top: 1px solid #8080806e;
    border-bottom: 1px solid #8080806e;
    margin-bottom: 20px;
}
.descriptions .header {
    color: #7e8182;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 15px;
}
.descriptions .sub {
    color: #999b9c;
    margin-top: 0px;
}
.descriptions .subHead {
    color: #7e8182;
    font-weight: bold;
    margin-bottom: 0px;
}
.action-buttons {
    display: flex;
    flex-wrap: wrap;
}
.action-buttons a{
    padding: 10px;
    cursor: pointer;
}
.add-cart {
    background-color: #1ab394;
    color: #ffffff;
}
.add-wishlist {
    color: #676a6cab;
    border: 0.5px solid #676a6cab;
    border-left: none;
}
.contact {
    color: #676a6cab;
    border: 0.5px solid #676a6cab;
    border-left: none;
}
ul, li {
    margin:0;
    padding:0;
    list-style:none
}
footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #8080806e;
    padding: 0px 20px;
    color: #7e8182;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}
@media only screen and (max-width: 1000px) {
    .action-buttons a {
        font-size: 13px;
    }
}
@media only screen and (max-width: 850px) {
    .wrapper {
        flex-direction: column;
    }
    .carousel-container {
        width: 100%;
    }
    .product-detail-container {
        width: 100%;
    }
    .product-detail-container {
        padding: 0px;
    }
    .carousel-container {
        padding: 0px;
    }
}
@media only screen and (max-width: 600px) {
    .action-buttons a {
        font-size: 10px;
    }
}
