body {
    margin: 0px;
    background-color: #f3f3f4;
    padding: 30px;
}
a {
    cursor: pointer;
}
.main-wrapper {
    display: flex;
    justify-content: space-between;
}
.items-list-wrapper {
    width: 100%;
    background-color: #fefefe;
    margin-right: 50px;
    box-shadow: 0px 0px 17px -12px grey;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px 20px 20px;
    font-family: 'Open Sans', sans-serif;
    color: #787b7c;
    border-top: 2px solid #4e4d4d17;
    border-bottom: 2px solid #4e4d4d17;
}
.header p {
    margin: 0px;
}
.footer {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.footer a {
    font-family: 'Open Sans', sans-serif;
    padding: 8px 16px;
    border-radius: 4px; 'Open Sans', sans-serif;
    padding: 10px;
    border-radius: 4px;
}
.footer .cancel {
    background-color: #1ab394;
    color: white;
}
.footer .continue-shopping {
    color: #babbbc;
    border: 1px solid #babbbc;
}
/*items*/
.item-container-wrapper {
    display: flex;
    flex-direction: column;
}
.item-container {
    display: flex;
    border-bottom: 2px solid #4e4d4d17;
    padding: 35px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item-container img {
    height: 150px;
    width: 150px;
    margin-right: 20px;
}

.item-container-main {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
}

.item-container input::-webkit-outer-spin-button , input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.item-container input {
    height: 20px;
    padding: 8px 12px;
    font-size: 18px;
    width: 20px;
    border: 1px solid #babbbc;
    color: #797b7c;
    outline: none;
}
.discount-quantity {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 20px;
}
.discount-quantity p {
    font-family: 'Open Sans', sans-serif;
    color: #9e9e9e;
    margin: 0px 10px;
    align-items: center;
}
.main-product-title {
    color: #1ab394;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0px;
    font-size: 22px;
}
.main-product-description {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
    font-size: 15px;
}
.description-list {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: 'Open Sans';
    color: #505050d6;
    font-weight: 600;
}
.description-list-sub {
    margin-top: 0px;
    font-family: 'Open Sans';
    color: #767676;
}
.actions-wrapper {
    display: flex;
    color: #767676;
    align-items: center;
}
.actions-wrapper a {
    padding: 10px;
    padding-right: 20px;
    padding-left: 0px;
    font-family: 'Open Sans', sans-serif;
}
.seperator {
    border: 1px solid grey;
    height: 20px;
    margin-right: 20px;
}
/*cart*/
.cart-value-wrapper {
    width: 370px;
    background-color: #fefefe;
    box-shadow: 0px 0px 17px -12px grey;
    height: fit-content;
}
.cart-value-wrapper .header {
    font-family: 'Open Sans', sans-serif;
    color: #686b6d;
    font-weight: bold;
    border-top: 2px solid #4e4d4d17;
    border-bottom: 2px solid #4e4d4d17;
    margin: 0px;
    padding: 20px;
}
.cart-value-sub-wrapper {
    padding: 20px;
    display: flex;
    min-width: 250px;
    flex-direction: column;
}
.cart-value-sub-wrapper p {
    font-family: 'Open Sans', sans-serif;
    color: #4d5051c2;
    font-weight: bold;
    margin: 0px 0px 10px;
}
.cart-value-sub-wrapper .price {
    color: #4d5051;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #4e4d4d17;
}
.cart-value-sub-wrapper .tax {
    font-size: 12px;
}
.cart-button-wrapper {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}
.cart-button-wrapper a{
    font-family: 'Open Sans', sans-serif;
    padding: 8px 16px;
    border-radius: 4px;
}
.checkout {
    background-color: #1ab394;
    color: white;
}
.cancel {
    color: #babbbc;
    border: 1px solid #babbbc;
}
@media only screen and (max-width: 900px) {
    .main-wrapper {
        flex-direction: column;
    }
    .cart-value-wrapper {
        width: auto;
    }
    .header {
        padding: 20px;
    }
}
@media only screen and (max-width: 600px){
    .footer {
        font-size: 13px;
    }
    .discount-quantity {
        padding: 15px 0px;
        max-width: 90px;
    }
    .actions-wrapper a {
        font-size: 13px;
    }
}
@media only screen and (max-width: 1450px){
    .footer {
        font-size: 13px;
    }
    .discount-quantity {
        order: 2;
        width: auto;
        flex-direction: column;
    }
    .item-container-main {
        order: 3;
    }
}
