body {
    margin: 0px;
    background-color: #f3f3f4;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 10px;
    color: #fefefe;
    box-shadow: 0px 0px 62px -25px #80808070;
}
.main-wrapper .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2.5px solid #787b7c38;
    border-bottom: 2.5px solid #787b7c38;
    padding: 0px 20px;
}
.header p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #787b7c;
    font-size: 18px;
}
.icons-wrapper {
    max-width: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons {
    color: #787b7c;
    cursor: pointer;
}
.main-nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.nav-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #828586cc;
    font-size: 29px;
    margin-top: 7px;
    margin-bottom: 4px;
}
.nav-sub-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #828586cc;
    font-size: 17px;
    margin-top: 4px;
}
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav-tab {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: #eeeeee;
    color: #bbbbbb;
    width: 22%;
    padding: 13px;
    border-radius: 5px;
}
.nav-active {
    background-color: #1ab394;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    width: 22%;
    padding: 13px;
    border-radius: 5px;
}
.form-wrapper {
    padding: 20px;
    padding-top: 0px;
}
.aligner {
    background-color: #eeeeee;
    border-radius: 10px;
    display: flex;
}
.form-sub-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 45px 30px;
}
.form-sub-wrapper p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #828586cc;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.form-sub-wrapper label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #828586cc;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.form-sub-wrapper input {
    padding: 7px;
    font-size: 17px;
    border: 0.5px solid #00000059;
}
.buttons-wrapper {
    align-self: flex-end;
    padding: 0px 20px;
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.previous {
    text-decoration: none;
    padding: 11px;
    background-color: #eeeeee;
    color: #828586;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.next {
    text-decoration: none;
    padding: 11px;
    background-color: #1ab394;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
}
.icon-image {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
    font-size: 200px;
    color: #e5e5e5;
    padding: 25px;
}
@media only screen and (max-width: 600px) {
    .form-sub-wrapper {
        width: auto;
    }
    .form-sub-wrapper input {
        width: 80%;
    }
    .nav-tab , .nav-active {
        width: 150px;
        margin-bottom: 10px;
    }
    .icon-image {
        display: none;
    }
}
